@use "fonts";
@import "~normalize.css";

$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
$bg-gradient-safe: rgb(50, 108, 255);

html {
  font-size: 10px;
}
body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  // font-family: 'Marcellus', serif;
}
.button {
  &:focus {
    outline: none;
  }
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 144rem;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  &-item {
    margin: 0 2.7rem;
  }
  &-link {
    text-decoration: none;
    font-weight: 700;
    color: rgba($white, 0.5);
    transition: 0.2s ease color;
    &:hover {
      color: rgba($white, 1);
    }
    &::after {
      content: "";
      display: block;
      opacity: 0;
      width: 100%;
      height: 0.2rem;
      margin-top: 0.5rem;
      border-radius: 5rem;
      background: $bg-gradient-safe;
      background: $bg-gradient;
    }
    &.active {
      color: rgba($white, 1);
      &::after {
        opacity: 1;
      }
    }
  }
}
.control {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  &-item {
    margin-left: 7.5rem;
  }
  &-btn {
    background-color: transparent;
    border: none;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    &_search {
      background-image: url("../img/search.svg");
      width: 1.8rem;
      height: 1.8rem;
    }
    &_notice {
      background-image: url("../img/notice.svg");
      width: 2.13rem;
      height: 2.352rem;
    }
    &_account {
      background-image: url("../img/account.svg");
      width: 1.8rem;
      height: 1.92rem;
    }
  }
}
.section-banner {
  border-bottom: 0.1rem solid #2f2e2e;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 95%;
    max-width: 95.5rem;
    object-fit: cover;
  }
}
.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  background: $black;
  box-shadow: 100px 0px 100px $black;
  &__title {
    font-family: "Marcellus", serif;
    font-weight: normal;
    font-size: 8rem;
    line-height: 7rem;
  }
  &__text {
    color: #c2c2c2;
    font-size: 1.8rem;
    line-height: 1.6;
  }
  &-info {
    font-weight: 800;
    margin-bottom: 2.9rem;
    &__year {
      margin-right: 1.8rem;
    }
    &__age {
      margin-right: 1.8rem;
      position: relative;
      width: 6rem;
      text-align: center;
      display: inline-block;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2.4rem;
        background-image: url("../img/age-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: calc(50% - 1.2rem);
        left: 0;
        right: 0;
      }
    }
    &__time {
      margin-right: 4.1rem;
      min-width: 8rem;
      display: inline-block;
    }
    &__rating {
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url("../img/rating-star.svg");
        margin-left: 1rem;
        position: absolute;
        top: calc(50% - 0.8rem);
        right: -2.6rem;
      }
    }
  }
  &-control {
    margin-top: 3.1rem;
    &__btn {
      background-color: transparent;
      border-radius: 10rem;
      border: none;
      padding: 1.5rem 3rem;
      font-family: "Mulish", sans-serif;
      font-weight: 800;
      cursor: pointer;
    }
    &__btn-main {
      background: $bg-gradient-safe;
      background: $bg-gradient;
      color: $white;
      box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
      position: relative;
      padding-left: 6rem;
      margin-right: 3rem;
      transition: 0.2s ease box-shadow;
      &:hover {
        box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
      }
      &::after {
        content: "";
        display: block;
        width: 1.4rem;
        height: 1.8rem;
        background-image: url("../img/play.svg");
        position: absolute;
        left: 3rem;
        top: calc(50% - 0.9rem);
      }
    }
    &__btn-more {
      background-color: $white;
      color: #323232;
      transition: 0.2s ease background-color, 0.2s ease color;
      &:hover {
        color: $white;
        outline: 0.2rem solid $white;
        background-color: transparent;
      }
    }
  }
}
