@use "normalize";
@use "fonts";
@use "slick";

$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
$darken-gradient: linear-gradient(316.53deg, #1bb6ac 13.2%, #154cda 71.54%);
$bg-gradient-safe: rgb(50, 108, 255);
$marketing-gradient: linear-gradient(87.02deg, #0d1a73 29.67%, #000000 70.52%);
$marketing-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);

::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  background-color: $black;
  border-radius: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background-image: $bg-gradient;
  border-radius: 0.7rem;
  border: 0.4rem solid transparent;
  background-clip: content-box;
  &:hover {
    background-image: $darken-gradient;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  // font-family: 'Marcellus', serif;
}
.button {
  &:focus {
    outline: none;
  }
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 144rem;
  margin: 0 auto;
}
.container-movies {
  overflow: hidden;
  padding-left: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}
.arrow-up {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $bg-gradient-safe;
  background: $bg-gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  transition: 0.5s opacity;
  &.active {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}
.arrow-up__image {
  width: 2rem;
  height: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  &-item {
    margin: 0 2.7rem;
  }
  &-link {
    text-decoration: none;
    font-weight: 700;
    color: rgba($white, 0.5);
    transition: 0.3s ease all;
    &:hover {
      color: rgba($white, 1);
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      display: block;
      opacity: 0;
      width: 100%;
      height: 0.2rem;
      margin-top: 0.5rem;
      border-radius: 5rem;
      background: $bg-gradient-safe;
      background: $bg-gradient;
      transition: 0.4s ease all;
    }
    &.active {
      color: rgba($white, 1);
      &::after {
        opacity: 1;
      }
    }
  }
}
.control {
  display: flex;
  align-items: center;
  &-btn {
    display: block;
    padding: 2rem;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 3.5rem;
    }
    &:last-child {
      padding-right: 0;
    }
    &__icon {
      transition: 0.2s all;
      width: 1.8rem;
      height: 1.8rem;
      &:hover {
        transform: scale(1.2);
      }
      &-search {
        &:hover {
          stroke: $bg-gradient-safe;
        }
      }
      &-notice {
        width: 2.13rem;
        height: 2.352rem;
        &:hover {
          fill: $bg-gradient-safe;
        }
      }
      &-account {
        &:hover {
          fill: $bg-gradient-safe;
        }
      }
    }
  }
}
.section {
  padding-top: 6rem;
  &__h2 {
    margin: 0;
    margin-bottom: 4rem;
    font-size: 2.8rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    font-weight: 700;
    display: inline-block;
    &::before {
      content: "";
      display: block;
      width: 0.8rem;
      height: 3.5rem;
      border-radius: 5rem;
      background: $bg-gradient-safe;
      background: $bg-gradient;
      position: absolute;
      left: 0;
      top: calc(50% - 1.7rem);
    }
    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      border-top: 0.2rem solid $white;
      border-right: 0.2rem solid $white;
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      top: calc(50% - 0.4rem);
    }
    &-link {
      color: $white;
      text-decoration: none;
    }
  }
  &__btn {
    border-radius: 10rem;
    border: none;
    padding: 1.5rem 3rem;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background: $bg-gradient-safe;
    background: $bg-gradient;
    color: $white;
    box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
    transition: 0.2s ease box-shadow;
    margin-top: 5.5rem;
    margin-bottom: 4rem;
    &:hover {
      box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
    }
  }
}
.section-banner {
  border-bottom: 0.1rem solid #2f2e2e;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 95%;
    max-width: 95.5rem;
    object-fit: cover;
  }
}
.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  background: $black;
  box-shadow: 100px 0px 100px $black;
  &__title {
    font-family: "Marcellus", serif;
    font-weight: normal;
    font-size: 8rem;
    line-height: 7rem;
  }
  &__text {
    color: #c2c2c2;
    font-size: 1.8rem;
    line-height: 1.6;
  }
  &-info {
    font-weight: 800;
    margin-bottom: 2.9rem;
    &__year {
      margin-right: 1.8rem;
    }
    &__age {
      margin-right: 1.8rem;
      position: relative;
      width: 6rem;
      text-align: center;
      display: inline-block;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2.4rem;
        background-image: url("../img/age-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: calc(50% - 1.2rem);
        left: 0;
        right: 0;
      }
    }
    &__time {
      margin-right: 4.1rem;
      min-width: 8rem;
      display: inline-block;
    }
    &__rating {
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url("../img/rating-star.svg");
        margin-left: 1rem;
        position: absolute;
        top: calc(50% - 0.8rem);
        right: -2.6rem;
      }
    }
  }
  &-control {
    margin-top: 3.1rem;
    &__btn {
      background-color: transparent;
      border-radius: 10rem;
      border: none;
      padding: 1.5rem 3rem;
      font-family: "Mulish", sans-serif;
      font-weight: 800;
      cursor: pointer;
    }
    &__btn-main {
      background: $bg-gradient-safe;
      background: $bg-gradient;
      color: $white;
      box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
      position: relative;
      padding-left: 6rem;
      margin-right: 3rem;
      transition: 0.2s ease box-shadow;
      display: inline-block;
      text-decoration: none;
      &:hover {
        box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
      }
      &::after {
        content: "";
        display: block;
        width: 1.4rem;
        height: 1.8rem;
        background-image: url("../img/play.svg");
        position: absolute;
        left: 3rem;
        top: calc(50% - 0.9rem);
      }
    }
    &__btn-more {
      background-color: $white;
      color: #323232;
      transition: 0.2s ease background-color, 0.2s ease color;
      &:hover {
        color: $white;
        outline: 0.2rem solid $white;
        background-color: transparent;
      }
    }
  }
}
.slick {
  &-list {
    overflow: visible;
  }
}
.movies {
  position: relative;
  &-item {
    position: relative;
    border-radius: 2rem;
    margin: 0 2rem;
  }
  &__link {
    width: 100%;
    height: 30.9rem;
    display: block;
  }
  &__img {
    border-radius: 2rem;
    transition: 0.2s ease all;
    &:hover {
      filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
    }
  }
}
.genres {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2.1rem;
  &-item {
    flex: 0 0 23.7%;
    border-radius: 2rem;
    padding: 4.8rem 1rem 3.8rem;
    box-sizing: border-box;
    margin-bottom: 2.7rem;
    &_romance {
      background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
    }
    &_drama {
      background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
    }
    &_historical {
      background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
    }
    &_action {
      background: linear-gradient(
        109.31deg,
        #fd093f 2.4%,
        #fb1378 2.41%,
        #fccb1a 100%
      );
    }
    &_sci-fi {
      background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
    }
    &_horror {
      background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
    }
    &_comedy {
      background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
    }
    &_documentary {
      background: linear-gradient(
        109.31deg,
        #1fa2ff 2.4%,
        #1fa2ff 2.41%,
        #1f535c 97.46%
      );
    }
  }
  &-icon {
    height: 8rem;
    position: relative;
    overflow: hidden;
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0.2rem 0 0 0;
  }
}
.section-actors {
  padding-top: 4rem;
}
.actors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 2.1rem;
  &-item {
    flex: 0 0 14%;
  }
  &__link {
    overflow: hidden;
    position: relative;
    width: 19rem;
    height: 19rem;
    display: block;
    border-radius: 100%;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 19rem;
    height: 19rem;
  }
  &__title {
    margin: 0;
    margin-top: 2rem;
  }
}
.marketing {
  display: flex;
  border-radius: 2rem;
  background: $marketing-gradient;
  box-shadow: $marketing-shadow;
  margin-top: 4.1rem;
  overflow: hidden;
  &__poster {
    display: inline-block;
    width: 50%;
    background-image: url("../img/marketing/marketing-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__date {
    padding: 7rem 0 4rem 0;
    flex: 0 0 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-title {
      font-weight: 700;
      font-size: 6.4rem;
      text-transform: capitalize;
      color: #ffffff;
      margin: 0;
      margin-top: 1.5rem;
    }
    &-img {
      width: 42%;
    }
  }
}

.offer {
  max-width: 122.4rem;
  margin: 6rem auto 12.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/offer-bg.png");
  padding: 7.2rem 14.7rem 7.2rem 5.7rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  box-sizing: border-box;
  &__title {
    font-size: 6.4rem;
    font-weight: 700;
    max-width: 80rem;
    margin: 0;
    line-height: 1;
  }
  &__btn {
    border-radius: 10rem;
    border: none;
    padding: 1.5rem 3rem;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background: $bg-gradient-safe;
    background: $bg-gradient;
    color: $white;
    box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
    transition: 0.2s ease box-shadow;
    &:hover {
      box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
    }
  }
}
footer {
  background-color: #101012;
  padding: 5.5rem 0 5rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
      margin-bottom: 2rem;
    }
    &__link {
      font-size: 1.8rem;
      display: inline-block;
      color: #c2c2c2;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        color: rgba($white, 1);
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: "";
        opacity: 0;
        display: block;
        width: 100%;
        height: 0.2rem;
        margin-top: 0.5rem;
        border-radius: 5rem;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        transition: 0.4s ease all;
      }
    }
  }
}
