@use "../../../styles/vars";

.arrow-up {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: vars.$bg-gradient-safe;
  background: vars.$bg-gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  transition: 0.5s opacity;
  &.active {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}
.arrow-up__image {
  width: 2rem;
  height: 2rem;
}
