@use "../../../styles/vars";

.marketing {
  display: flex;
  border-radius: 2rem;
  background: vars.$marketing-gradient;
  box-shadow: vars.$marketing-shadow;
  margin-top: 4.1rem;
  overflow: hidden;
  &__poster {
    display: inline-block;
    width: 50%;
    background-image: url("./../components/img/marketing/marketing-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__date {
    padding: 7rem 0 4rem 0;
    flex: 0 0 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-title {
      font-weight: 700;
      font-size: 6.4rem;
      text-transform: capitalize;
      color: #ffffff;
      margin: 0;
      margin-top: 1.5rem;
    }
    &-img {
      width: 42%;
    }
  }
  @media (max-width: 976px) {
    &__date {
      padding: 4rem 0 3rem 0;
      &-title {
        font-size: 4rem;
      }
      &-img {
        width: 50%;
      }
    }
  }
  @media (max-width: 676px) {
    display: block;
    &__poster {
      display: block;
      height: 17rem;
      width: 100%;
    }
    &__date {
      flex-direction: row;
      margin: 0 auto;
      padding: 2.5rem 0 2rem 0;
      &-title {
        font-size: 3rem;
      }
      &-img {
        width: 70%;
        margin-right: 2rem;
      }
    }
  }
}
